.paragraph {
    transition: all 0.75s ease-out;
    font-family: Hammersmith One;
    font-size: 20;
    background: linear-gradient(to right, #57484f ,#ab7766, #57484f);
    -webkit-background-clip: text;
    text-shadow: 0 0 5px #57484f);
    -webkit-text-stroke: 2px transparent;
}

.heading {
    transition: all 0.75s ease-out;
    font-size: 48;
    font-family: Hammersmith One;
    background: linear-gradient(to right, #57484f ,#ab7766, #e2a761);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.sub-container {
    background: linear-gradient(to right, #57484f ,#ab7766, #e2a761);
    box-shadow: 0 20px 20px #57484f;
    perspective: 1000px;
}

.image {
    transition: all 0.75s ease-out;
}

.imagecontain {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.gradient {
    background: linear-gradient(to right, #57484f ,#ab7766, #e2a761);
    width: 100%;
}

.landing {
    height: 100%;
}