* {
    overflow-x: hidden;
}

.cover {
    font-family: Hammersmith One;
}

.subcover {
    font-family: Hammersmith One;
}

.paragraph {
    font-family: Hammersmith One;
    font-size: 20;
    background: linear-gradient(to right, #57484f ,#ab7766, #57484f);
    -webkit-background-clip: text;
    text-shadow: 0 0 5px #57484f);
    -webkit-text-stroke: 2px transparent;
}

.heading {
    font-size: 45;
    font-family: Hammersmith One;
    background: linear-gradient(to right, #57484f ,#ab7766, #e2a761);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    overflow-y: hidden;
}
.imagecontain {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.gradient {
    background: linear-gradient(to right, #e2a761 ,#ab7766, #e2a761);
}

.centered {
    position: absolute;
    overflow: auto;
  }

.formborder {
    border-style: groove;
}

.images {
    overflow: hidden;
}

.nongradient {
    background-color: #57484f;
}